*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "proxima nova",sans-serif;
}
body {
  overflow-x: hidden;
}
.navbarr{
  width: 100%;
  height: 55px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #F6F0E6;
}
.navbarr a{
  font-size:13px;
  font-weight: 600;
  font-family: "Proxima Nova",sans-serif;
  margin-right: 1.4rem;
  text-decoration: none;  
  color: #333333;
  
}
.navbarr a.apply-btn{
  width: 5.5%;
  height: 25px;
  /* border: 1px solid black; */
  border-radius: 20px;
  background-color: #6C4327;
  color:white;
  line-height: 21px;
  padding-left: 0.5rem ;
  padding-top: 0.1rem;
  
  
}
header{
  width: 100%;
  height: 100px;
  background-color: #e0d8cb;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-between;
 box-shadow: 0px 2px 2px rgb(249, 247, 247);
 /* position: fixed; */
 position: sticky;
 top: 0;
 left: 0;
 z-index: 1;

}
header .logo{
  width: 19%;
height: 100%;
padding: 1.2rem 1.2rem;

}
header .nav{
  width: 70%;
  height: 100%;
  /* border: 1px solid black; */
}
.nav-link{
  height: 100%;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  list-style-type: none;

}
.nav-link a{
  text-decoration: none;
  color: #6c4327;
  font-weight: 600;
  font-family: "Proxima Nova",sans-serif;
  display: flex;
  /* justify-content: center; */
  align-items: center;

}
.container{
  width: 100%;
  height: 800px;
  /* border: 1px solid black; */
  display: flex;
  background-color: #ebf3f4;
}
.left-box{
  width: 40%;
  height: 100%;
  /* border: 1px solid black; */
  position: relative;
}
.ad1{
  height: 28%;
  width: 70%;
  /* border: 1px solid black; */
  background-color: #012d45;
  display: flex;
  flex-direction: column;
  justify-content: center ;
  position: absolute;
  top: 25%;
  left: 12%;
}
.ad1 h1{
  font-size: 3.5rem;
  font-weight: bold;
  color: white;
  padding-left: 1.05rem;
}
.ad2{
  position: absolute;
  top: 60%;
  left: 12%;
}
.ad3{
  position: absolute;
  top: 85%;
  left: 12%;
  width: 68%;
  height:30% ;
  
}
.ad3 h1{
  color: #002e47;
  font-size: 1.6rem;
}
.right-box{
  width: 60%;
  height: 100%;
  /* border: 1px solid black; */
  position: relative;
  display: flex;
}
.head-img{
  position: relative;
  top: 10%;
  left: 20%;
  width:50% ;
  height: 90%;
  /* border: 1px solid black; */
  background-image: url("image/1.png");
  background-size: cover;
  background-position: center;
  animation: slide 8s normal 4s infinite;
  
}
@keyframes slide 
{
 0%{
  background-image: url("image/1.png");
 } 
 33%{
  background-image: url("image/2.png");
 }
 66%{
  background-image: url("image/3.png");
 }
 100%{
  background-image: url("image/1.png");
 }
}
.apply-img{
  position: absolute;
  top: 68%;
  left: 72%;
}
.programme-box{
  width: 100%;
  height: 790px;
  background-color:  #F9F6ED;
  
}
.program-heading{
  width: 100%;
  height: 145px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.program-heading h1{
  font-size: 2.8rem;
  font-weight: 600;
  color: rgb(78, 71, 71);
}
.programme-name{
  width: 100%;
  height: 80px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.programme-name a{
  text-decoration: underline;
  text-underline-offset: 20px;
  color:#CDA452 ;
  font-weight: 400;

}
.program-card{
  width: 100%;
  height: 72%;
  /* border: 1px solid black; */
  display: flex;
  /* justify-content:center; */
  /* align-items: center; */
  gap: 1.2rem;
 
}
.St-img-con{
  width: 25%;
  height: 84%;
  /* border: 1px solid black; */
  border-radius: 8px;
  margin-left: 5%;
  background-image: url("image/asset\ 13.png");
  background-size: cover;
  background-position:right;
}
.department-con{
  width: 63%;
  height: 84%;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns:repeat(3,1fr);
  gap: 1.4rem;
}
.box{
  border: 1px solid #DABF7C;
  border-radius: 9px;
  position: relative;
  transition: transform 0.4s ease;
}
.arrow-box {
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  left: 92%;  
  bottom: 78%; 
  width: 14%;
  height: 30%;
  border-radius: 50%;
  background-color: #A06C2E;
}
.tilt-arrow{
  position: absolute;
  top: 25%;
  left: 29%; 
}
.box:hover .arrow-box {
  opacity: 1;
}
.box:hover{
  transform: rotate(-2deg);
  background-color: #ffff;
}

.icon-con h3{
  font-size: 24px;
  font-weight: 700;
  color: #3d3d3d;
}
.progrm-card-logo{
  width: 17%;
}
.information-con{
  width: 100%;
  height: 900px;
  /* border: 1px solid black; */
  background-color:  #fff;
}
.why-us{
  width: 100%;
  height: 100px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: end;

}
.why-us h1{
  font-size: 2.8rem;
  font-weight: bold;
  color: rgb(78, 71, 71);
}
.accreditation{
  width: 100%;
  height: 200px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 5rem;
  
} 

.accred-logo{
  width: 18%;
  height: 150px; 
  /* border: 1px solid black;  */
  position: relative;
}
.Accred_logo-img{
  position: absolute;
  top: 25%;
  left: 40%;  
}
.accred-logo span{
  position: absolute;
  left: 38%;
  top:42% ;
  font-size: 35px;
  font-weight: 600;
  color: #3d3d3d;
}
.accred-logo p{
  position: absolute;
  left: 22%;
  top: 85%; 
  font-size: 22px;
  font-weight: 500;
  color: #3d3d3d;
}

.campus{
  width: 100%;
  height: 600px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.campus-background{
  width: 300px;
  position: absolute;
  top: 22%;
}
.campus-head{
  width: 100%;
  height: 230px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: end;
}
.campus-head h1{
  font-size: 2.7rem;
  color:  rgb(78, 71, 71);
}
.facility{
 width: 90%;
 height: 350px;
 /* border: 1px solid black; */
 /* margin-top: 4rem;  */
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 position: absolute;
 top: 31%;
 

} 

.facility-list{
  height: 15%;
  display: flex;
  gap: 0.8rem;
  
}
.facility-list span{
  font-size: 27px;
  font-weight: 600;
  letter-spacing:normal;
  color: #D6B86E;
  position: relative;
  gap: 10rem;
}
.facility-name{
   position: relative; 
}
.facility-img{
  width: 280px;
  height: 220px;
  border-radius: 10px;
  position: absolute;
  left: -98%;
  bottom: 120%;
  
}

.facility-img{
  opacity: 0;
  transition: transform 0.3s ease;
}
.facility-name:hover .facility-img{
  opacity: 1;
  transform: rotate(-6deg);
}
.facility span:hover{
  color: #6C4327;
  cursor: pointer;
  
}


.award-con{
  width: 100%;
  height: 380px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E5D4A3;
  background-image: url("image/asset\ 159.svg");
  background-repeat: no-repeat;
  background-position: left;
  gap: 1rem;
  position: relative;
}
.award-logo{
  width: 17%;
  height: 340px;
  /* border: 1px solid black; */
}
.award-logo img{
  position: absolute;
  top: 10%;
  left: 5.5%;
}
.award-logo h2{
  font-size: 42px;
  color: #6C4327;
  position: absolute;
  top: 38%;
}
.award-logo span{
  font-size: 22px;
  font-style: italic;
  font-weight: 700;
  color: #6C4327;
  position: absolute;
  top: 65%;
}

.award-desc{
  width: 70%;
  height: 230px;
  /* border: 1px solid black; */
}
.award-desc p{
  font-size: 21px;
  font-weight: 400;
  color: #3f3f3f;
  letter-spacing: normal;
  padding-top: 10%;
  
  
}
.life-on-campus{
  width: 100%;
  height: 800px;
  /* border: 1px solid black; */
  background-color: #F9F6ED;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}
.life-head{
  width: 100%;
  height: 130px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: end;
}
.life-head h1{
  font-size: 45px;
  font-weight: 600;
  color:#3D3D3D;
}
.life-card-con{
  width: 94%;
  height: 580px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 1rem;
}
.left-imgcard{
  width: 24%;
  height: 550px;
  /* border: 1px solid black; */
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
.left-imgcard h2{
  color: white;
  position: absolute;
  top: 90%;
  left: 34%;
}

.left-Bimg {
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease;
}
.left-imgcard:hover .left-Bimg {
  transform: scale(1.1);
}

.right-imgcard{
  width: 68%;
  height: 550px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.uper-card{
  width: 100%;
  height: 280px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  gap: 1.1rem;
}
.uper-card h2{
  color: white;
}
.inside-Ucard{
  /* border: 1px solid black; */
  width: 22.8%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.inside-Ucard h2{
  position: absolute;
  top: 75%;
  left: 11%;
}
.right-Uimg{
   width: 100%;
  height: 100%;
  border-radius: 8px;
  transition: transform 0.6s ease;
}
.inside-Ucard:hover .right-Uimg{
  transform: scale(1.1);
}
.lower-card{
   width: 100%;
  height: 250px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  gap: 1.1rem;
}
.inside-Lcard{
  /* border: 1px solid black; */
  width: 31%;
  height: 100%;
  border-radius: 8px;
 overflow: hidden;
 position: relative;
}
.inside-Lcard h2{
  position: absolute;
  top: 75%;
  left: 22%;
}
.lower-card h2{
  color: white;
}
.right-Lcard{
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease;
}
.inside-Lcard:hover .right-Lcard{
  transform: scale(1.1);
}
.story-parent{
  width: 100%;
  height: 800px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.story-child{
  width: 90%;
  height: 700px;
  /* border: 1px solid black; */
}
.Excellence-head{
  width: 100%;
  height: 10%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: end;
}
.Excellence-head h1{
  font-size: 38px;
  font-weight: 700;
  color: #212529;
}
.story-title{
  width: 100%;
  height: 11%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 2rem ;
}
.tabs{
  font-size: 15px;
  font-weight: 400;
  color:#CDA452;
}
.student-story{
  width: 100%;
  height: 500px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

}
.student-img{
  width: 25%;
  height: 400px;
  /* border: 1px solid black; */
  overflow: hidden;
  border-radius: 15px;
}
.std-img{
  width: 100%;
  height: 100%;
   filter: grayscale(10) blur(0);

}
.recruiter-parent{
  width: 100%;
  height: 800px;
  background-color: #ffff;
  /* border: 1px solid black; */
}
.recruiter-head{
  width: 100%;
  height: 100px;
  /* border:1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.recruiter-head h1{
  font-weight: 100;
  font-size: 40px;
  color: #212529;
}
.company-logo{
  width: 100%;
  height: 100px;
  /* border: 1px solid black; */
  overflow: hidden;
  position: relative;
  
}
.marquee-logo{
  display: flex;
  align-items: center;
  gap: 2rem;  
  animation: marquee-move 8s linear infinite;
}
.company-logo:hover .marquee-logo {
  animation-play-state: paused;
}

@keyframes marquee-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.company-icon img{
  width: 80px;
  height: auto;
  overflow: hidden;
}
.company-logo2{
  width: 100%;
  height: 100px;
  /* border: 1px solid black; */
  overflow: hidden;
  position: relative;
}
.marquee-logo2 {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: max-content;
  animation: marquee-move2 16s linear infinite;
}

.company-logo2:hover .marquee-logo2 {
  animation-play-state: paused;
}

@keyframes marquee-move2 {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
.association{
  width: 100%;
  height: 100px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.recognition-box{
  width: 100%;
  height: 300px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.recognition-icon{
  width: 15%;
  height: 200px;
  /* border: 1px solid black; */
}
.Dicover-parent{
  width: 100%;
  height: 720px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  position: relative;
  background-color: #ffff;
}
.news-box{
  width: 40%;
  height: 600px;
  /* border: 1px solid black; */
  box-shadow: 0px 1px 4px rgb(188, 185, 185);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #F6F0E6;
  

}
.news-head{
  width: 30%;
  height: 40px;
  margin-left: 5rem;
}
.news-head h1{
  font-size: 40px;
  color: #212529;
}
.news-para{
  width: 38%;
  height: 40px;
   margin-left: 5rem;
}
.news-para p{
  font-size: 19px;
  font-family: "Proxima Nova Rg";
  color: #3D3D3D;
}
.new-read{
  width: 28%;
  height: 50px;
  /* border: 1px solid black; */
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
   margin-left: 5rem;
   background-color: #DABF7C;
}
.new-read p{
  font-size: 15px;
  font-weight: 700;
  color: #6C4327;
  padding: 2rem;
}
.expert-col{
  width: 69%;
  height: 450px;
  /* border: 1px solid black; */
  display: flex;
  position: absolute;
  left: 30%;
  gap: 1.5rem;
}
.expert-people{
  width: 30%;
  height: 450px;
  /* border: 1px solid black; */
  border-radius: 12px;
  box-shadow: 0px 2px 4px rgb(168, 166, 166);
  background-color: #F6F6F6;
}
.expert-people img{
  width: 100%;
  height: 100%;
}
.collabrations{
  width: 100%;
  height: 950px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}
.collab-head{
  width: 78%;
  height: 950px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.collab-heading{
  width: 100%;
  height: 100px;
 
}
.collab-head h1{
  width: 100%;
  height: 100px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.upper-box{
  width: 100%;
  height: 500px;
  /* border: 1px solid black; */
  display: flex;
  gap: 1rem;
}
.upper-left{
  width: 65%;
  height: 500px;
  /* border: 1px solid black; */
  overflow: hidden;
  border-radius: 8px;
}
.upper-left img{
  width: 100%;
  height: 100%;
}
.upper-right{
  width: 32%;
  height: 500px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.upper-F-box{
  width: 100%;
  height: 240px;
  /* border: 1px solid black; */
  overflow:hidden;
  border-radius: 8px;
}
.upper-F-box img{
  width: 100%;
  height: 100%;
}
.upper-secnd-box{
  width: 100%;
  height: 240px;
  /* border: 1px solid black; */
  overflow: hidden;
  border-radius: 10px;
}
.upper-secnd-box img{
  width: 100%;
  height: 100%;
}

.lower-box{
  width: 100%;
  height: 300px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  gap: 1rem;
}
.lower-B-card{
  width: 32%;
  height: 280px;
  /* border: 1px solid black; */
  border-radius: 8px;
  overflow: hidden;
}
.lower-B-card img{
  width: 100%;
  height: 100%;
}
.view-btn{
  width: 7%;
  height: 24px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: ghostwhite;
  position: absolute;
  top: 97%;
  left: 0;
}
.focus-con{
  margin-top: 4rem;
  width: 100%;
  height: 1000px;
  /* border: 1px solid black; */
}
.focus-head{
  width: 100%;
  height: 100px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.focus-head h1{
  font-size: 40px;
   color: rgb(55, 50, 50);
}
.different-card-con{
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card-row1{
  width: 96%;
  height: 410px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.diff-card{
  width: 27%;
  height: 420px;
  /* border: 1px solid black; */
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.diff-card h3{
  color: rgb(55, 50, 50);
}
.diff-card p{
  color: rgb(55, 50, 50); 
}
.diff-card h2{
  color: #af7f1e;
}
.f-img{
  width: 100%;
  height: 65%;
  border-radius: 10px;
}


.card-row2{
  width: 96%;
  height: 410px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
footer{
  width: 100%;
  height: 990px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F9F6ED;
}
.fot-con{
  width: 90%;
  height: 250px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #F9F6ED;
  
}
.take-step h1{
  font-size: 40px;
  color:#333333;
}
.three-box{
  width: 100%;
  height: 89px;
  /* border: 1px solid black; */
  display: flex;
  gap: 1.8rem;
}
.apply-box{
  width: 32%;
  height: 80px;
  border: 1px solid #CDA452; 
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  transition: transform 0.2s ease;
  
}
.apply-box:hover{
  transform: rotate(-2deg);
  background-image: linear-gradient(to top, rgb(229, 243, 249), white);
  border: none;
}
.apply-icon{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
}
.apply-icon h3{
  padding: 1rem;
  color: #BA8938;
}
.apply-arrow{
  padding: 1rem;
}
.footer-org-content{
  width: 100%;
  height: 600px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  margin-top: 2rem;
}
.footer-column{
  width: 16%;
  height: 600px;
  /* border: 1px solid black; */

}
.footer-column h3{
  color: #363636;
}
.footer-column ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 14px;
  font-weight: 100;
  color: #8C8C8C;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin-top: 1rem;
}
.social-icon{
  display: flex;
  gap: 0.5rem;
}
.social-icon img{
  width: 10%;
}
.download-icon{
  display: flex;
  gap: 0.8rem;
}
.download-icon img{
  margin-top: 0.5rem;
  width: 32%;
}
.reach-us-con{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
.reach-box{
  display: flex;
  gap: 0.5rem;
}
.reach-box img{
  width: 7%;
  height:10%;
}
.reach-box p{
  font-size: 13px;
  color: #444444;
}
.lower-footer{
  width: 100%;
  height: 64px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: #E0D8CB;
}
.lower-f-con{
  font-size: 14px;
  font-weight: 100;
  color:#525050;
}
.inside-lower-f{
  width: 92%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E0D8CB;
}

